:root {
    /* Definindo propriedades customizadas (variáveis CSS) para reutilização ao longo da folha de estilo */
    --primary-color: #0d0d0d;
    --secondary-color: #070b5d;
    --font-family: Arial, sans-serif;
    --font-size: 17px;
  }
  
  body {
  
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: auto 1fr auto; /* Dividindo o layout em três linhas: cabeçalho, conteúdo principal e rodapé */
    min-height: 100vh; /* Altura mínima de 100% da altura da janela */
  }
  
  header {
    /* Estilos para o cabeçalho */
    background-color: var(--primary-color);
    color: #ffffff; /*BEM VINDO AO SMART ROUTE*/
    padding: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .button-container {
    /* Container para os botões, centralizando-os horizontalmente */
    display: flex;
    justify-content: center;
    margin: 20px;
  }
  
  button {
    /* Estilos básicos para os botões */
    --button_radius: 0.75em;
    --button_color: #000000;
    font-size: 17px;
    font-weight: bold;
    border: none;
    border-radius: var(--button_radius);
    background: var(--button_outline_color);
  }
  
  .button_top {
    /* Estilos para a parte superior do botão */
    display: block;
    box-sizing: border-box;
    border: 2px solid var(--button_outline_color);
    border-radius: var(--button_radius);
    padding: 0.75em 1.5em;
    background: var(--button_color);
    color: var(--button_outline-color); /* Mudar a cor do texto do botão */
    transform: translateY(-0.2em);
    transition: transform 0.1s ease;
  }
  
  button:hover .button_top {
    /* Efeito hover para o botão */
    transform: translateY(-0.33em);
  }
  
  button:active .button_top {
    /* Efeito ativo para o botão */
    transform: translateY(0);
  }
  
  main {
    /* Estilos para o conteúdo principal */
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
  }
  
  main section {
    /* Estilos para as seções dentro do conteúdo principal */
    margin-bottom: 20px;
    background-color: var(--primary-color);
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);
    padding: 20px;
    text-align: center;
    border-radius: 5px;
  }
  
  main h2 {
    /* Estilos para os títulos dentro das seções principais */
    margin-bottom: 10px;
    color: #fff;
  }
  
  main p {
    /* Estilos para os parágrafos dentro das seções principais */
    color: #fff;
  }
  
  footer {
    /* Estilos para o rodapé */
    background-color: var(--primary-color);
    color: #fff;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  footer ul {
    /* Estilos para a lista no rodapé */
    display: flex;
    list-style: none;
    margin: 10px 0;
  }
  
  footer ul li {
    /* Estilos para os itens da lista no rodapé */
    margin: 0 5px;
  }
  
  footer ul li a {
    /* Estilos para os links na lista do rodapé */
    color: #fff;
    text-decoration: none;
    font-size: 24px;
  }
  
  .wrapper {
    /* Container para ícones sociais */
    display: inline-flex;
    list-style: none;
    height: 65px; /* Tentar diminuir a altura da barra inferior */
    width: 100%;
    padding-top: 40px;
    font-family: "Poppins", sans-serif;
    justify-content: center;
  
  }
  
  .wrapper .icon:hover .tooltip {
    /* Efeito hover para mostrar a dica de ferramenta */
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  
  .button {
    /* Estilos para os botões arredondados com gradiente */
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: none;
    background: linear-gradient(120deg, #833ab4, #fd1d1d, #fcb045);
    position: relative;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    transition: 0.1s;
  }
  
  .button svg {
    /* Estilos para os ícones SVG dentro dos botões */
    color: white;
    width: 30px;
    height: 30px;
    z-index: 9;
  }
  
  .button.button:nth-child(2) {
    /* Gradiente específico para o segundo botão */
    background: linear-gradient(120deg, #02ff2c, #008a12);
  }
  
  .button:nth-child(3) {
    /* Gradiente específico para o terceiro botão */
    background: rgb(69, 187, 255);
  }
  
  .button:nth-child(4) {
    /* Gradiente específico para o quarto botão */
    background: rgb(255, 33, 33);
  }
  
  .button:nth-child(5) {
    /* Cor específica para o quinto botão */
    background: black;
  }
  
  .button:active {
    /* Efeito ativo para o botão */
    transform: scale(0.85);
  }
  
  .button::before {
    /* Efeito antes do hover nos botões */
    content: "";
    position: absolute;
    width: 55px;
    height: 55px;
    background-color: #8f8f8f;
    border-radius: 50px;
    z-index: -1;
    border: 0px solid rgba(255, 255, 255, 0.411);
    transition: 0.4s;
  }
  
  .button:hover::before {
    /* Efeito hover para os botões */
    width: 0px;
    height: 0px;
  }
  
  body {
    /* Imagem de fundo específica para o corpo da página */
    background-image: url(../GPT/IMG/Wallpaper\ snow\ particles\ motion\ distortion.jpg);
  }
  
  .button_top {
    /* Mudar a cor do texto do botão */
    color: #fff;
  }
  
  .wrapper {
    /* Ajustar altura da barra inferior */
    height: 65px; /* Tentando diminuir a altura da barra inferior */
  }
    a{
        text-decoration: none;
        color: rgb(255, 255, 255);
    }
    
    